body {
  background: url(/images/back.jpg) no-repeat center center fixed;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     }

div.select-screen {
   cursor: crosshair;
   position:absolute;
   -moz-user-select: -moz-none;
   -ms-user-select: none;
   user-select: none;
   -webkit-user-select: none;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   z-index: 99;
              } 

#cnt-button {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 100; 
      }

#cnt {
  position: absolute;
  left: 50%;
     }

h2.hidden {
  visibility: hidden;
       }

.blueRct {
  background-color: #9aaeff; 
  border-style: solid;
  border-color: #3b6ccd;
  position: absolute;
       }

.redRct {
  background-color: #CD5555; 
  border-style: solid;
  border-color: #FF0000;
  position: absolute;
       }

#priceCount {
  position: absolute;
  right : 0%;
  bottom : 0%;
       }

.placeHolder {
  background-color: #D3D3D3;
}



